*{
    background-color: black;
    font-family: sans-serif;
    scroll-behavior: smooth;
    color: white;
}

header{
    
    width: 100%;
    height: 100px;
    left: 0px;
    margin-left: 0;
    top: 0;
    margin: 0;
    
}
.headerhr{
    opacity: 0.1;
}
body{
    overflow-x: auto;
}


body::-webkit-scrollbar{
    height: 10px;
    width: 5px;
    transition: 0.4s;
}

body::-webkit-scrollbar-track{
    background-color: transparent;
    
    
}
body::-webkit-scrollbar-thumb{
    background-color: gray;
    border-radius: 5px;
}
body::-webkit-scrollbar-thumb:hover{
    background-color: white;
    
}


.img1{
    margin-left: auto;
    width: 300px;
    background-color: transparent;
    
}

.help{
    float: right;
    color: white;
    font-size: 30px;
    font-family: sans-serif;
    background-color: transparent;
}
.Login{
    text-decoration: none;
    color: white;    
    transition: 0.4s;
    margin-right: 20px;
    background-color: transparent;
}
.Login:hover{
    color: red;
    margin-right: 36px;
}
.support{
    text-decoration: none;
    color: white;    
    transition: 0.4s;
    background-color: transparent;
}
.support:hover{
    color: red;
    margin-right: 12px;
}
.contact{
    text-decoration: none;
    color: white;    
    transition: 0.4s;
    margin-left: 20px;
    background-color: transparent;
}

.contact:hover{
    color: red;
    margin-right: 11px;
}
/* .product{
    text-decoration: none;
    color: white;    
    transition: 0.4s;
    margin-right: 20px;
    margin-left: 20px;
    background-color: transparent;
    font-size: 30px;
    cursor: default;
    /* display: block; 
    
}
.product:hover {
    color: red;
    margin-right: 30px;
    
}
.list{
    opacity: 0;
    color: white;
    transition: 1s;
    background-color: transparent;
    cursor: default;
}
.product:hover+ .list{
    color:red;
    background-color: transparent;
    opacity: 1;
    float: right;

} */


/* ////////////////////////// */

li a{
    text-decoration: none;
    color: white;
    transition: 0.4s;

}
/* li a:hover{
    text-decoration: none;
    color: red;
    font-size: 21px;
    margin-left: 10px;
} */
.welcome{
    color: white;
    font-size: 50px;
    text-align: center;
    cursor: default;
    animation-name:welcome ;
    animation-duration: 2s;
    
}
.welcome .ww{
    color: red;
    font-size: 50px;
    animation-name: ww;
    animation-duration: 2s;
    
}
@keyframes ww{
    from{color: white; font-size: 30px;}
    to{color: red; font-size: 50px;}
}
.welcome img{
    width: 150px;

}
@keyframes welcome{
    from{opacity: 0;}
    to{opacity: 1;}
}

.welcomehr{
    width: 640px;
    animation-name: wh;
    animation-duration: 1.5s;
    opacity: 0.3;
}
@keyframes wh{
    from{opacity: 1; width: 900px; }
    to{opacity: 0.3;width: 640px; }
}
.product{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    /* flex-direction: row; */
    overflow-x: scroll;
}
.product::-webkit-scrollbar{
    height: 8px;
    background-color: transparent;
    
}
.product::-webkit-scrollbar-track{
    background-color: transparent;
    transition: 1s;
}
.product::-webkit-scrollbar-thumb{
    background-color: transparent;
    background-color: gray;
    border-radius: 5px;
    transition: 1s;
    
}

/* .product::-webkit-scrollbar-track:hover{
    background-color: gray;
    
} */
.product::-webkit-scrollbar-thumb:hover{
    background-color: white;
    
}

/* .product::-webkit-scrollbar-track{
    background-color: #76b800;
}
product::-webkit-scrollbar-thumb{
    background-color: #76b800;
} */
.monitor{
    color: white;
    font-size: 50px;
    width: fit-content;
    text-align: center;
    transition: 0.7s;
    border-right-color: white;
    cursor: default;
    opacity: 0.3;
    text-decoration: none;
    background-color:transparent;
    
    
}
.monitorlist .neww::marker{
    color: red;
}
.monitorlist .neww span{
    text-decoration: underline;
}

.monitor:hover{ 

    margin-top: -2%;
    opacity: 1;
    
}
.monitor h1{
    transition: 0s;
    /* opacity: 0; */
    text-decoration: none;
    background-color: transparent;
}
.monitor .logo img{
    width: 200px;
    display: none;
}
.monitor img{
    width: 550px;
    transition: 0.5s;
    background-color: transparent;
}
/* .monitor img:hover{
    opacity: 1;
    margin-top: -20px;
} */

.monitorlist{
    font-size: 20px;
    width: fit-content;
    position: relative;
    display: none;
    transition: 0.4s;
    text-align: left;
    animation-name: lists;
    animation-duration: 1s;
    
}
@keyframes lists{
    from{opacity: 0; margin-top: -20px;}
    to{opacity: 1;}
}
.monitorlist li a{
    background-color: transparent;
}
.monitorlist li a:hover{
    text-decoration: none;
    color: red;
    text-shadow: 0 0 10px red;
    /* 0 0 20px red,
    0 0 30px red,
    0 0 40px red,
    0 0 80px red,
    0 0 120px orangered; */
    font-size: 21px;
    margin-left: 10px;
    
}
.monitor:hover .monitorlist{
    display: block;
    opacity: 1;
    transition: 0.4s;
} 
/* .monitorlist:hover{
    color: red;

} */

.cards{
    display: flex;
    /* width: fit-content; */
    justify-content: space-between;
    align-content: center;
    text-align: left;

}
.card{
    color: white;
    font-size: 40px;
    width: fit-content;
    text-align: center;
    transition: 0.7s;
    border-right-color: white;
    cursor: default;
    opacity: 0.3;
    text-decoration: none;
    margin-top: 40px;
    background-color: transparent;
}

.card:hover{
    /* color: red; */
    margin-top: -1px;
    opacity: 1;
}
.card h1{
    transition: 0s;
    text-decoration: none;
    background-color: transparent;
    
}
.card .logo img{
    width: 200px;
    display: none;
}
.card img{
    width: 500px;
    height: fit-content;
    transition: 0.5s;
    margin-top: -50px;
}
.cardlist{
    font-size: 20px;
    width: fit-content;
    position: relative;
    display: none;
    transition: 0.4s;
    text-align: left;
    animation-name: lists;
    animation-duration: 1s;
}
.card:hover .cardlist {
    display: block;
    opacity: 1;
    transition: 0.8s;
} 
.card:hover h1{
    display: block;
}
.cardlist li a{
    text-decoration: none;
    color: white;
    transition: 0.4s;
    background-color: transparent;
}
.cardlist li a:hover{
    text-decoration: none;
    color: #76b800;
    font-size: 21px;
    margin-left: 10px;
    text-shadow: 0 0 14px #76b800;
}

.card:hover .cardlistamd {
    display: block;
    opacity: 1;
    transition: 0.4s;
} 
.cardlistamd{
    font-size: 20px;
    width: fit-content;
    /* position: relative; */
    display: none;
    transition: 0.4s;
    animation-name: lists;
    animation-duration: 1s;
}
.cardlistamd li a{
    text-decoration: none;
    color: white;
    transition: 0.4s;
    background-color: transparent;
}
.cardlistamd li a:hover{
    text-decoration: none;
    color: red;
    font-size: 20px;
    text-shadow: 0 0 15px red;
    margin-left: 10px;
}
.mouse{
    color: white;
    font-size: 40px;
    width: fit-content;
    text-align: center;
    transition: 0.7s;
    border-right-color: white;
    cursor: default;
    opacity: 0.3;
    text-decoration: none;
    margin-top: 36px;
    background-color: transparent;
}

.mouse:hover{
    /* color: red; */
    margin-top: -1px;
    opacity: 1;
}
.mouse h1{
    transition: 0s;
    /* opacity: 0; */
    text-decoration: none;
    background-color: transparent;
}
.mouse .logo img{
    width: 200px;
    display: none;
}
.mouse img{
    width: 550px;
    transition: 0.5s;
}
.headphone{
    color: white;
    font-size: 40px;
    width: fit-content;
    text-align: center;
    transition: 0.7s;
    border-right-color: white;
    cursor: default;
    opacity: 0.3;
    text-decoration: none;
    margin-top: 36px;
    background-color: transparent;
}

.headphone:hover{
    /* color: red; */
    margin-top: -1px;
    opacity: 1;
}
.headphone h1{
    transition: 0s;
    /* opacity: 0; */
    text-decoration: none;
    background-color: transparent;
}
.headphone .logo img{
    width: 200px;
    display: none;
}
.headphone img{
    width: 600px;
    transition: 0.5s;
}

.headsetlists{
    font-size: 20px;
    width: fit-content;
    position: relative;
    display: none;
    transition: 0.4s;
    text-align: left;
    animation-name: lists;
    animation-duration: 1s;
    margin-left: 100px;
}
.headsetlists li a{
    text-decoration: none;
    color: gray;
    transition: 0.4s; 
    background-color: transparent;
}
.headsetlists li a:hover{
    text-decoration: none;
    color: red;
    text-shadow: 0 0 10px red,
    0 0 20px #fff;
    /* 0 0 30px #fff,
    0 0 40px #fff,
    0 0 80px #fff,
    0 0 120px #fff; */
    font-size: 21px;
    margin-left: 10px;
}

.headphone:hover .headsetlists{
    display: block;
}


.motherb{
    color: white;
    font-size: 40px;
    width: fit-content;
    text-align: center;
    transition: 0.7s;
    border-right-color: white;
    cursor: default;
    opacity: 0.3;
    text-decoration: none;
    margin-top: 36px;
    background-color: transparent;
    
}

.motherb:hover{
    /* color: red; */
    margin-top: -1px;
    opacity: 1;
}
.motherb h1{
    transition: 0s;
    /* opacity: 0; */
    text-decoration: none;
    background-color: transparent;
    
}
.motherb .logo img{
    width: 200px;
    display: none;
}
.motherb img{
    width: 550px;
    transition: 0.5s;
}
.motherblists{
    font-size: 20px;
    width: fit-content;
    position: relative;
    display: none;
    transition: 0.4s;
    text-align: left;
    animation-name: lists;
    animation-duration: 1s;
    margin-left: 100px;
}
.motherblists li a{
    text-decoration: none;
    color: white;
    transition: 0.4s;
    background-color: transparent;
}
.motherblists li a:hover{
    text-decoration: none;
    color: #e2a643;
    text-shadow: 0 0 10px yellow,
     0 0 20px orange;
    /*0 0 30px yellow,
    0 0 40px orange,
    0 0 80px yellow,
    0 0 120px orange; */
    font-size: 21px;
    margin-left: 10px;
}
.motherb:hover .motherblists{
    display: block;
    
}
.keyboard{
    color: white;
    font-size: 40px;
    width: fit-content;
    text-align: center;
    transition: 0.7s;
    border-right-color: white;
    cursor: default;
    opacity: 0.3;
    text-decoration: none;
    margin-top: 36px;
    background-color: transparent;
}

.keyboard:hover{
    /* color: red; */
    margin-top: -1px;
    opacity: 1;
}
.keyboard h1{
    transition: 0s;
    /* opacity: 0; */
    text-decoration: none;
    background-color: transparent;
}
.keyboard .logo img{
    width: 200px;
    display: none;
}
.keyboard img{
    width: 550px;
    transition: 0.5s;
}
.keyboardlists{
    font-size: 20px;
    width: fit-content;
    position: relative;
    display: none;
    transition: 0.4s;
    text-align: left;
    animation-name: lists;
    animation-duration: 1s;
    /* margin-left: 100px; */
}
.keyboardlists li a{
    text-decoration: none;
    color: white;
    transition: 0.4s;
    background-color: transparent;
}
.keyboardlists li a:hover{
    text-decoration: none;
    color: #c71acb;
    text-shadow: 0 3px 10px red,
    0 5px 20px #c71acb;
    /* 0 5px 30px red,
    0 0 40px #c71acb,
    0 0 80px red,
    0 0 120px red; */
    font-size: 21px;
    margin-left: 10px;
}

.keyboard:hover .keyboardlists{
    display: block;
    
}

.mouselists{
    font-size: 20px;
    width: fit-content;
    position: relative;
    display: none;
    transition: 0.4s;
    text-align: left;
    animation-name: lists;
    animation-duration: 1s;
    /* margin-left: 100px; */
}
.mouselists li a{
    text-decoration: none;
    color: gray;
    transition: 0.4s; 
    background-color: transparent;
}
.mouselists li a:hover{
    text-decoration: none;
    color: white;
    text-shadow: 0 0 10px #fff,
    0 0 20px #fff,
    0 0 30px gray;
    /* 0 0 40px #fff,
    0 0 80px #fff,
    0 0 120px #fff; */
    font-size: 21px;
    margin-left: 10px;
}

.mouse:hover .mouselists{
    display: block;
    
}
.prend{
    opacity: 0.1;
}

.news h1{
    font-family: sans-serif;
    font-size: 110px;
    cursor: default;
    width: fit-content;

    margin-top: 300px;
}
.news h1 span{
    color: red;
    
}
.newhr{
    /* width: 612px; */
    /* display: none; */
    opacity: 0.1;
    
}
.newhr2{
    box-shadow: 0 0 20px #c71acb,
    0 0 20px #c71acb;
    opacity: 0.5;
}
.rtx4090{
    font-size: 25px;
    cursor: default;
}
.rtx4090 h2 span{
    color: #c71acb;
}
.rtx4090 img{
    width: 100%;
    transition: 0.8s;
    opacity: 0.5;
    border-radius: 1px;

}
.rtx4090 img:hover{
    opacity: 1;
    width: 100%;
    margin-top: -0.8%;
    box-shadow: 0 0 13px #c71acb ,
    0 0 13px red;
    border-radius: 12px;
}
.rtx4090 h3{
    font-size: 50px;
    color: gray;
}
.rtx4090 h3 span{
    opacity: 1;
    color: white;
}
.rtx4090 h3 .see a{
    font-size: 30px;
    opacity: 0.2;
    text-decoration: none;
    transition: 0.8s;
}
.rtx4090 h3 .see a:hover{
    opacity: 1;
}
.G27C4X{
    font-size: 50px;
    cursor: default;
}
.G27C4X h2 span{
    color: #61c8e9;
}
.G27C4X img{
    width: 100%;
    transition: 0.8s;
    opacity: 0.5;
    border-radius: 1px;

}
.G27C4X img:hover{
    opacity: 1;
    width: 100%;
    margin-top: -0.8%;
    box-shadow:0 0 10px #20f3ec, 
    0 0 10px #61c8e9;
    border-radius: 12px;
}
.G27C4X h3{
    font-size: 50px;
    color: white;
}

.G27C4X h2 .see a{
    font-size: 30px;
    opacity: 0.2;
    text-decoration: none;
    transition: 0.8s;
}
.G27C4X h2 .see a:hover{
    opacity: 1;
}

.GM31{
    font-size: 30px;
    cursor: default;
}
.GM31 h2 span{
    color: red;
    /* text-shadow: 0 0px 10px red; */
}
.GM31 img{
    width: 100%;
    transition: 0.8s;
    opacity: 0.5;
    border-radius: 1px;

}
.GM31 img:hover{
    opacity: 1;
    width: 100%;
    /* margin-top: -0.8%; */
    box-shadow: 0 0 5px orangered,
    0 0 20px red;
    border-radius: 12px;
}
.GM31 h3{
    font-size: 50px;
    color: white;
}

.GM31 h2 .see a{
    font-size: 30px;
    opacity: 0.2;
    text-decoration: none;
    transition: 0.8s;
}
.GM31 h2 .see a:hover{
    opacity: 1;
}




.GH50{
    font-size: 30px;
    cursor: default;
}
.GH50 h2 span{
    color: red;
    /* text-shadow: 0 0px 10px red; */
}
.GH50 img{
    width: 100%;
    transition: 0.8s;
    opacity: 0.5;
    border-radius: 1px;
    

}
.GH50 img:hover{
    opacity: 1;
    width: 100%;
    margin-top: -0.8%;
    box-shadow: 0 0 15px red,
    0 0 10px white;
    border-radius: 12px;

}
.GH50 h3{
    font-size: 50px;
    color: white;
}

.GH50 h2 .see a{
    font-size: 30px;
    opacity: 0.2;
    text-decoration: none;
    transition: 0.8s;
}
.GH50 h2 .see a:hover{
    opacity: 1;
}
.footerhr{
    opacity: 0.1;
}
footer{
    height:fit-content;

}
.footer .msi{
float: left;
color: white;
font-family: sans-serif;
opacity: 0.5;
width: 240px;
}
.footer .msi span img{
    width: 50px;
}
.Name{
    font-size: 120%;
    font-family: sans-serif;
    width: fit-content;
    float: right;
    margin: auto;
    margin-top: 1.4%;
    color: white;
    opacity: 0.5;
    cursor: default;
    border-radius: 6px;
    background-color: transparent;
    width: 200px;
    height: 50px;
    /* position: absolute; */
    text-align: center;
    transition: 0.2s;
    rotate: 0;
    
}
#nn{
    background-color: transparent;
    border: 2px;
    border-radius: 10px;
    border-color:white;
    border-style: solid;
    width: 200px;
    height: 50px;
    margin-top: -0.9%;
    display: block;
    float: right;
    position: absolute;
    transition: 0.2s;

}

#nnn{
    margin-right: 18px;
}

#nn:hover{
    box-shadow: 0 0 15px red;
    border-color: red;
}
.Name:hover{
    opacity: 1;
    
    text-shadow: 0 0 20px white,
    0 0 30px white,
    0 0 40px white;
}