*{
     /* background-image: url(https://cdn.wallpapersafari.com/0/86/wjaGF0.jpg); 
     background-size: 1920px; */
     
    background-color: black;
    scroll-behavior: smooth;
    font-family: sans-serif;
}
header{
    border-bottom-color: white;
}
br{
    background-color: red;
}
.img1{
    margin-left: auto;
    width: 250px;
   
}
.account{
    font-size: 60px;
}
.help{
    float: right;
    color: white;
    float: right;
    font-size: 30px;
    font-family: sans-serif;
    background-color: transparent;
}
.Login{
    text-decoration: none;
    color: white;    
    transition: 0.4s;
    margin-right: 20px;
    
}
.Login:hover{
    color: red;
    margin-right: 30px;
}
.support{
    text-decoration: none;
    color: white;    
    transition: 0.4s;
    
}
.support:hover{
    color: red;
    margin-right: 12px;
}
.contact{
    text-decoration: none;
    color: white;    
    transition: 0.4s;
    margin-left: 20px;
}
.contact:hover{
    color: red;
    margin-right: 6px;
}
.Loginone{
    background-color: transparent;
}
.labelone{
    border-color: white;
    border-radius: 5%;
    
    width: 50px;
}
.form{
    background-color: transparent;

}

.Logo{
    width: 10%;
    
}
.Logintwo{
    cursor: default;
    text-align: center;
    font-size: 60px;
    background-color: transparent;
    margin-top: 20px;
    margin-bottom: 20px;
    color: white;
}
.Logintwohr{
    width: 100px;
    
}
.email{
    border-radius: 10px;
    border-color: white;
    transition: 0.4s;
    padding: 3px;
    background-color: black;
    color: white;
}
.email::placeholder{
    color: white;
    
}
.email::selection{
    color: red;
}
.email:hover{
    border-color: red;
    padding: 7px;
}
.password{
    border-radius: 10px;
    border-color: white;
    transition: 0.4s;
    padding: 3px;
    background-color: black;
    color: white;
}
.password::placeholder{
    color: white;
}
.password::selection{
    color: red;
}
.password:hover{
    border-color: red;
    padding: 7px;
}

.submit{
    border-radius: 10px;
    border-color:white ;
    transition: 0.2s;
    text-decoration: none;
    color: white;
    padding-left: 5px;
    padding-right: 5px;
    
}
.submit a{
    text-decoration: none;
    color: white;
    transition: 1s;
    width: auto;
    
}
.submit:hover{
    border-color: red;
    padding-left: 10px;
    padding-right: 10px;
}


.reset{
    border-radius: 10px;
    border-color:white ;
    transition: 0.2s;
    text-decoration: none;
    color: white;
    padding-left: 5px;
    padding-right: 5px;
}
.reset:hover{
    border-color: red;
    width: 60px;
    padding-left: 10px;
    padding-right: 10px;
}
