*{
    background-color: black;
    scroll-behavior: smooth;    
}

header{
    top: 0%;
    width: 100%;
    transition: top 0.3s;
}
header.visible{
    top: 0;
}
header.hidden{
    top: -100px;
}
.headerhr{
    opacity: 0.1;
    width: 100%;
}
body{
    overflow-x: hidden;
}
hr{
    opacity: 0.1;
}
.help{
    float: right;
    color: white;
    float: right;
    font-size: 30px;
    font-family: sans-serif;
    background-color: transparent;
}
.Login{
    text-decoration: none;
    color: white;    
    transition: 0.4s;
    margin-right: 20px;
    background-color: transparent;
}
.Login:hover{
    color: red;
    margin-right: 30px;
}
.support{
    text-decoration: none;
    color: white;    
    transition: 0.4s;
    background-color: transparent;
}
.support:hover{
    color: red;
    margin-right: 12px;
}
.contact{
    text-decoration: none;
    color: white;    
    transition: 0.4s;
    margin-left: 20px;
    background-color: transparent;
}

.contact:hover{
    color: red;
    margin-right: 6px;
}

.G271{
    font-family: sans-serif;  
    color: white;
    /* width: 1920px;
  margin-left: 40%; */
    font-size: 80px;
    text-align: center;
    animation-name: g271;
    animation-duration: 2s;
    cursor: default;
}
.G271 span{
    font-family: sans-serif;  
    color: red;
    /* width: 1920px;
  margin-left: 40%; */
    font-size: 80px;
    text-align: center;
    animation-name: g2711;
    animation-duration: 2.5s;
}
@keyframes g271{
    from{color: red; font-size: 70px;}
    to{color: white; font-size: 80px;}
}
@keyframes g2711{
    from{color: white; font-size: 70px;}
    to{color: red; font-size: 80px;}
}
.G271 img{
    width: 300px;
}
.hrG271{
    width: 744px;
    background-color: red;
    opacity: 0.2;
    margin-top: -50px;
    animation-name: ghr;
    animation-duration: 1s;
}
@keyframes ghr{
    from{opacity: 1; margin-top: -20px; width: 0px;}
    to{opacity: 0.1; margin-top: -50px; width: 744px;}
}
.img1{
    width: 260px;
    margin-top: -1%;
}
/* .img1:hover{
    animation-name: MSILogo;
    animation-duration: 10s;

    
}
@keyframes MSILogo {
    100% {margin-left: 50%;}
} */
.imgs{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.imgs img{
    width: 550px;
    transition: 0.5s;
    border-radius: 30px;
}
.imgs img:hover{
    box-shadow: 0 0 25px white;
    
}
/* .img2{
    float: left;
}
.img4{
    float: right;
} */


button {
    color: red;
    border-color: white;
    border-radius: 10px;
    width: 50px;
    margin-left:50%;
    transition: 0.2s;
    
    
}
button a {
    text-decoration: none;
    color:white;
    background-color: transparent;
    transition: 0.8s;
    
}
button:hover{
    background-color: red;
    color: black;
    text-decoration: none;
    text-decoration-color: red;
    padding-left: 10px;
    padding-right: 10px;
}


button a:hover{
    background-color: transparent;
    color: black;
    
}
.Button p{
    margin-left: 50.3%;
    width: 200px;
    transition: 1s;
    align-self: center;
    color: white;
    
}
.Button p:hover{
    color: red;
    
}
.Button .bb:hover .price{
    display: block;
}

.one {
    color: white;
    font-family: sans-serif;
    text-align: center;
    font-size: 50px;
    cursor: default;
}
.onehr{
    opacity: 0.6;
    width: 300px;
    margin-top: -1%;
}
.spec{
    color: white;
    text-decoration: none;
    font-family: sans-serif;
    font-size: 20px;
}

.spec li:hover{
color: red;
font-size: 25px;
}
.spec li a:hover{
    color: red;
    font-size: 25px;
}
.list-item{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
}

ul{
    color: white;
    text-decoration: none;
    font-family: sans-serif;
}
li a{
    text-decoration: none;
    color: white;
    transition: 0.5s;
}
li a:hover{
    color: red;
    
    font-size: 30px;
}
/* ul:hover{
    animation:ui 1s ;
}
@keyframes ui{
    from{color: white;}
    to{color: red;} */
li{
    text-decoration: none;
    transition: 0.5s ;
    width: fit-content;

}
    li:hover{
        padding-left: 10px;

        font-size: 18px;
        color: red;
    
    /* animation: name duration timing-function delay iteration-count direction fill-mode;     */
}
::marker{
    color: red;
}


.ips{
    opacity: 0;
    transition: 1s;
    margin-bottom: 0;
    filter: saturate(100%);
}

.ips:hover{
    margin-bottom: 2%;
    opacity: 1;
	animation-name: ipan;
    animation-duration: 3.2s;
}

@keyframes ipan{
    from{filter: saturate(0);}
    to{filter: saturate(100%);}
}

.ips img{
    
    width: fit-content;
}
.ips h1{
    font-family: sans-serif;
    color: red;
    transition: 1s;
    font-size: 300%;
    
}
.ips h1 span{
    color: white;
    text-shadow: 0 0 10px red,
    0 0 20px blue,
    0 0 30px orangered,
    0 0 40px violet;
    
}





/* @media (prefers-reduced-motion: no-preference) {
    .ips:hover {
      animation-name: wipe-enter;
      animation-duration: 2s;
      animation-iteration-count: infinite;
     
     
    }
  }
  @keyframes wipe-enter {
	from{margin-bottom: 0%;}
    to{margin-bottom: 2%;}
    from{opacity: 0;}
    to{opacity: 1;}
}
 */

.inch{
    opacity: 0;
    transition: 0.5s;
    margin-bottom: 0%;
}
.inch img{
    width: 100%;
    /* margin-left: -5%; */
    
}
.inch h1{
    font-family: sans-serif;
    color: red;
    transition: 1s;
    font-size: 300%;
    
}
.inch h1 span{
    font-family: sans-serif;
    color: white;
    transition: 1s;
    font-size: 200%;
}
.inch:hover{
    opacity: 1;
    margin-bottom: 2%;
}


.hz{
    opacity: 0;
    transition: 0.5s;
    margin-left: -100%;
}
.hz img{
    width: 1920px;
    
}
.hz h1{
    font-family: sans-serif;
    color: red;
    transition: 1s;
    font-size: 300%;
    
    
}
/* .hz h1 span{
    background-image: url(https://th.bing.com/th/id/R.95684545c3aa4f85cb1530d0a22ae5c3?rik=nnHX5lWrfMBvUA&riu=http%3a%2f%2fwww.clker.com%2fcliparts%2fr%2fV%2fQ%2fl%2ff%2f0%2flightning-red-hi.png&ehk=%2bpG6g7NfMqFYm%2fyRDtOnQQ%2fl1QQwPGCkt3sYiMGlKpI%3d&risl=&pid=ImgRaw&r=0);
    background-size: 51px;
    
    
} */
.hz:hover{
    opacity: 1;
    margin-left: 0%;
}




.night{
    opacity: 0;
    transition: 1s;
    margin-bottom: 0;
}
.night img{
    width: 1000px;
    
}


.night h1{
    font-family: sans-serif;
    color: red;
    transition: 1s;
    font-size: 300%;

    
}
.night:hover{
    opacity: 1;
    margin-bottom: 2%;
}


.wr{
    opacity: 0;
    transition: 3s;
    margin-bottom: 0;
    
}
.wr #imgs{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.wr #imgs img{
    width: 550px;
    border-radius: 10px;

}



.wr h1{
    font-family: sans-serif;
    color: red;
    transition: 1s;
    font-size: 300%;

    
}
.wr h1 span{
    font-size: 200%;
    animation: three 1s ease-in-out infinite,
    linear infinite;
    color: white;
    text-shadow: 0 0 10px white;
}
/* @keyframes three{
    from{color: red;}
    to{color: white;}
    
} */
.wr:hover{
    opacity: 1;
    margin-bottom: 2%;
}
footer{
    height: fit-content;

}
.footer .msi{
float: left;
color: white;
font-family: sans-serif;
opacity: 0.5;
width: 240px;
}
.footer .msi span img{
    width: 50px;
}
.Name{
    font-size: 100%;
    font-family: sans-serif;
    width: 15%;
    float: right;
    margin: auto;
    color: white;
    opacity: 0.5;
}
